snippet collectionViewDataSource "UICollectionViewDataSource (UIKit)"
//MARK: UICollectionViewDataSource

func numberOfSections(in collectionView: UICollectionView) -> Int {
	return ${1:section}
}

func collectionView(_ collectionView: UICollectionView, numberOfItemsInSection section: Int) -> Int
	return ${2:row}
}

func collectionView(_ collectionView: UICollectionView, cellForItemAt indexPath: IndexPath) -> UICollectionViewCell {
	let cell = collectionView.dequeueReusableCellWithReuseIdentifier(${3:identifier}, forIndexPath: indexPath) as! UICollectionViewCell
	cell.confiugre(${4:item})
	return cell
}
endsnippet

snippet collectionViewDelegate "UICollectionViewDelegate (UIKit)"
//MARK: UICollectionViewDelegate


func collectionView(_ collectionView: UICollectionView, didSelectItemAt indexPath: IndexPath) {
		${1:doSomething}
}

func collectionView(_ collectionView: UICollectionView, didSelectItemAt indexPath: IndexPath) {
		${2:doSomething}
}
endsnippet


snippet tableViewDataSource "UITableViewDataSource (UIKit)"
//MARK: UITableViewDataSource
func numberOfSections(in tableView: UITableView) -> Int {
	return ${1:section}
}

func tableView(_ tableView: UITableView, numberOfRowsInSection section: Int) -> Int {
	return ${2:row}
}

func tableView(_ tableView: UITableView, cellForRowAt indexPath: IndexPath) -> UITableViewCell {
	let cell = tableView.dequeueReusableCellWithIdentifier(${3:identifier}, forIndexPath: indexPath) as! UITableViewCell
	cell.confiugre(${4:item})
	return cell
}
endsnippet

snippet tableViewDelegate "UITableViewDelegate (UIKit)"
func tableView(_ tableView: UITableView, didSelectRowAt indexPath: IndexPath) {
	${1:doSomething}
}

func tableView(_ tableView: UITableView, didDeselectRowAt indexPath: IndexPath) {
	${2:doSomething}
}
endsnippet

snippet pickerViewDataSource "UIPickerViewDataSource"
extension $1: UIPickerViewDataSource {
	func numberOfComponents(in pickerView: UIPickerView) -> Int {
		return $2
	}

	func pickerView(_ pickerView: UIPickerView, numberOfRowsInComponent component: Int) -> Int {
		return ${3:item.count}
	}

	func pickerView(_ pickerView: UIPickerView, titleForRow row: Int, forComponent component: Int) -> String? {
		return ${4:item[row]}
	}
}
endsnippet

snippet pickerViewDelegate "UIPickerViewDelegate"
extension $1: UIPickerViewDelegate {
	func pickerView(_ pickerView: UIPickerView, didSelectRow row: Int, inComponent component: Int) {
		$2
	}
}
endsnippet

snippet alertController "UIAlertController (UIKit)"
let alert = UIAlertController(title: ${1:"confirm title"}, message: ${2:"message"}, preferredStyle: .Alert)
alert.addAction(UIAlertAction(title: ${3:"title"}, style: .default, handler: { action in
		alert.dismissViewControllerAnimated(true, completion: nil)
}))
presentViewController(alert, animated: true, completion: nil)
endsnippet

snippet notification "NSNoTificationCenter (UIKit)"
NSNotificationCenter.default.addObserver(self, selector: #selector(${1:selector}), name: ${2:name}, object: nil)
endsnippet


snippet registerRemoteNotification "NSRemoteNotification (UIKit)"
fileprivate func configNotification() {
	if #available(iOS 10.0, *) {
		let center = UNUserNotificationCenter.current()
			center.delegate = self
			center.requestAuthorization(options: [.alert, .badge, .sound]) {_,_ in }
		UIApplication.shared.registerForRemoteNotifications()
	} else {
		let settings = UIUserNotificationSettings(types: [.alert, .badge, .sound], categories: nil)
			let application = UIApplication.shared
			application.registerUserNotificationSettings(settings)
			application.registerForRemoteNotifications()
	}
}
endsnippet

snippet viewDidLoad "UIViewController lift cycle viewDidLoad (UIKit)"
//MARK: UIViewController lifecycle

override func viewDidLoad() {
	super.viewDidLoad()
	${1:viewdidload}
}
endsnippet

snippet viewWillAppear "UIViewController lift cycle viewWillAppear (UIKit)"
override func viewWillAppear(animated: Bool) {
	super.viewWillAppear(animated)
	${1:viewWillAppear}
}
endsnippet


snippet viewDidAppear "UIViewController lift cycle viewDidAppear (UIKit)"
override func viewDidAppear(animated: Bool) {
	super.viewDidAppear(animated)
	${1:viewDidAppear}
}
endsnippet

snippet viewWillDisappear "UIViewController lift cycle viewWillDisappear  (UIKit)"
override func viewWillDisappear(animated: Bool) {
	super.viewWillDisappear(animated)
	${1:viewWillDisappear}}
}
endsnippet

snippet viewDidDisappear "UIViewController lift cycle viewDidDisappear (UIKit)"
override func viewDidDisappear(animated: Bool) {
	super.viewDidDisappear(animated)
	${1:viewDidDisappear}
}
endsnippet

snippet forIn "Array loop"
for ${1:item} in ${2:array} {
	$1.${3:doSomething}
}
endsnippet

snippet forInKey "Dictionary loop"
for (${1:index}, ${2:value}) in ${3:dictionary}.enumerated() {
	$1.${4:doSomethingA}
	$2.${5:doSomethingB}
}
endsnippet

snippet DispatchQueueExtension "DispatchQueue extention"
extension DispatchQueue {
	static var userInteractive: DispatchQueue { return DispatchQueue.global(qos: .userInteractive) }
	static var userInitiated: DispatchQueue { return DispatchQueue.global(qos: .userInitiated) }
	static var utility: DispatchQueue { return DispatchQueue.global(qos: .utility) }
	static var background: DispatchQueue { return DispatchQueue.global(qos: .background) }

	func after(_ delay: TimeInterval, execute closure: @escaping () -> Void) {
		asyncAfter(deadline: .now() + delay, execute: closure)
	}

	func syncResult<T>(_ closure: () -> T) -> T {
		var result: T!
			sync { result = closure() }
		return result
	}
}
endsnippet

snippet asyncMain "DispatchQueue Main Async"
DispatchQueue.main.async {
	${1:doSomething}
}
endsnippet
snippet asyncInteractive "DispatchQueue userInteractive Async"
DispatchQueue.userInteractive.async {
	${1:doSomething}
}
endsnippet
snippet asyncUserInitiated "DispatchQueue userInitiated Async"
DispatchQueue.userInitiated.async {
	${1:doSomething}
}
endsnippet
snippet asyncUtility "DispatchQueue utility Async"
DispatchQueue.utility.async {
	${1:doSomething}
}
endsnippet
snippet asyncBackground "DispatchQueue background Async"
DispatchQueue.background.async {
	${1:doSomething}
}
endsnippet

snippet lazyView "UIView, UIImageView etc. Init"
fileprivate lazy var ${1:name}: ${2: UIView}= {
	let view = $2()
	return view
}()
endsnippet

snippet lazylabel "UILabel Init"
fileprivate lazy var ${1:name}: UILabel = {
	let label = UILabel()
	label.backgroundColor = UIColor.clear
	label.font = SFFont.constant(.Regular, size: 14)
	label.textColor = SFColor.hexStr(.TextLv3)
	return label
}()
endsnippet

snippet lazybutton "UIButton Init"
lazy var ${1:button}: UIButton = {
	let button = UIButton()
	button.isHidden = true
	button.imageEdgeInsets = UIEdgeInsets(top: 15, left: 15, bottom: 12, right: 12)
	button.setImage(UIImage(named: "account_icon_cash_question"), for: .normal)
	return button
}()
endsnippet

snippet lazytableView "lazy create UITableView"
fileprivate lazy var tableView: UITableView = {
	let tableView = UITableView(frame: $1)
	tableView.delegate = self
	tableView.dataSource = self
	tableView.estimatedRowHeight = 55
	tableView.rowHeight = UITableViewAutomaticDimension
	tableView.separatorColor = SFColor.hexStr(.TextLv4)
	tableView.backgroundColor = SFColor.hexStr(.BG)
	tableView.tableHeaderView = UIView()
//  once tableview footer view frame height equal zero, it will show bottom line
//		tableView.tableFooterView = UIView(frame: CGRectMake(0, 0, sf_screenW, sf_pixWidth))
	tableView.tableFooterView = self.footerView
	tableView.registerClass($2.self)
	return tableView
}()
endsnippet

snippet viewInit "UIView Init"
override init(frame: CGRect) {
	super.init(frame:frame)
	configSubviews()
	configConstraints()
}

required init?(coder aDecoder: NSCoder) {
	fatalError("init(coder:) has not been implemented")
}

fileprivate func configSubviews() {
}

fileprivate func configureConstraints() {
}
endsnippet

snippet cellInit "UITableViewCell Init"
class ${1:Cell} : UITableViewCell {
	override init(style: UITableViewCellStyle, reuseIdentifier: String?) {
		super.init(style: style, reuseIdentifier: reuseIdentifier)
		configureSubviews()
		configureConstraints()
	}

	required public init?(coder aDecoder: NSCoder) {
		super.init(coder: aDecoder)
	}

	fileprivate func configureSubviews() {
		selectionStyle = .none
		${2:subView}.addSubview(centerView)
	}

	fileprivate func configureConstraints() {
		${2:subView}.snp.makeConstraints { make in
			make.top.equalTo(centerView)
			make.centerX.equalTo(contentView)
		}
	}
}
endsnippet

snippet buttonAddTarget "UIButton Add Target"
$1.addTarget(self, action: #selector(${2:buttonTouched}), for: .touchUpInside)
endsnippet

snippet makeConstraints "SnapKit make constrains"
$1.snp.makeConstraints { make in
	make.edges.equalTo($2)
}
endsnippet

snippet remakeConstraints "SnapKit remake constrains"
$1.snp.remakeConstraints { make in
	make.edges.equalTo($2)
}
endsnippet

snippet updateConstraints "SnapKit upate constrains"
$1.snp.updateConstraints { make in
	make.edges.equalTo($2)
}
endsnippet

snippet animated "UIView Animation Duration"
UIView.animate(withDuration: ${1:0.25}, animations: {
	$2
}
endsnippet

snippet animatedDelay "UIView Animation Delay"
UIView.animate(withDuration: ${1:0.25}, delay: $2, options: [.allowUserInteraction, .beginFromCurrentState ], animations: {
	$3
}) { finished in
	if finished {
		$4
	}
}
endsnippet

snippet overrideConstraints "UIView override super view constrains"
override func updateConstraints() {
	super.updateConstraints()
	$1.snp.updateConstraints { make in
		make.$2.equalTo($3)
	}
}
endsnippet

snippet navigationItem "UIN"
navigationItem.rightBarButtonItem = [[UIBarButtonItem alloc] initWithCustomView:${1:rightButton}];
endsnippet
